<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update</title>
</head>

<body>
    <h1>Edit <%= itemRes.listitem %></h1>
    <form action="/update/<%= index %>" method="Post">
        <input type="text" name="listitem">
        <button type="submit">Edit</button>
    </form>

</body>

</html>